/*font-family: 'Jura', sans-serif;
font-family: 'Playfair Display', serif;*/



* {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}


h1 {
  font-family: 'Jura', sans-serif;
}

h2,
a {
  font-family: 'Playfair Display', sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}


.container_header {
  width: 1170px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.container_nav {
  width: 1170px;
  display: flex;
  justify-content: center;
  align-content: center;
}


nav {
  height: 156px;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF1A;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: 0.3s all ease-in-out;
}

nav.scrolled {
  background-color: rgba(172, 172, 172, 0.395);
  color: #000000;
  height: 75px;
  transition: 0.3s all ease-in-out;
}

.language-switcher {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}

.language{
  margin-right:15px;
  border: 1px solid #fff;
  padding: 3px 6px 3px 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2ms all ease-in;
}

.language:hover{
  background-color: #3d3e43;
}

.logo {
  height: 70px;
  width: 80px;
  margin-right: 15px;
  cursor:pointer;
}

.links {
  display: flex;
  align-items: end;
}

.link {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  margin-bottom: 15px;
  margin-left: 28px;
}

.link:hover{
  text-decoration: underline;
  transition: 0.2ms all ease-in-out;
  color:#ffffffb0;
}

.header_main {
  color: #FFFFFF;

}

.header_main h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 114px;
}

.header_main h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  margin-top: 5px;
}

.social_media {
  margin-top: 60px;
}


.social_media img {
  margin-right: 26px;
  width: 38px;
  height: 38px;
  transition: 0.2s all ease-in;
  cursor:pointer;
}

.social_media img:hover {
  transform: scale(1.2);
}


.container {
  width: 1000px;
}

.infoBlock {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #3d3e43
}

.infoBlock .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.infoBlock h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;


  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 63px;
  width: 100%;
  justify-content: space-between;
}

.advantages {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.advantages img {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

.advantages h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  width: 290px;
  height: 200px;
  color: #FFFFFF;
  margin-top: 17px;
}

#alter_block {
  margin-top: 25px;
}


.slider {
  width: 100%;
  height: 800px;
  background-color: #3d3e43;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  border-top: 1px solid #FFFFFF
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
}


.slider .container {
  width: 1280px;
}




swiper-slide h1 {
  font-family: 'Playfair Display';
  width: 266px;
  height: 43px;
  font-weight: 600;
  font-size: 32px;
  line-height: 43px;

  color: #FFFFFF;

  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

swiper-slide h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  width: 199px;
  height: 63px;
  margin-bottom: 120px;
}



.swiper {
  width: 100%;
  height: 600px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.SwiperSlider{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_card_text{
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 43px;
color: #FFFFFF;
text-align: center;
margin-top: 300px;
}

.slider_card_subtext{
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
text-align: center;
text-align: center;
color: #FFFFFF;
width: 300px;
}

.swiper-slide {
  display: flex;
  justify-content: center; /* Выравнивание элементов по горизонтали */
  align-items: center; /* Выравнивание элементов по вертикали */
}

.swiper-slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.form_panel {
  display: flex;
  justify-content: center;
  background-color: #3d3e43;
  border-top: 1px solid #FFFFFF;
  width: 100%;
  height: 600px;
  padding-bottom: 300px;

}

.form_panel .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_panel .container h1{
  margin-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#form_title {
  padding-top: 60px;
  margin-bottom: 70px;
}

.form .form_panel_input {
  width: 770px;
  height: 77px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: transparent;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, 0.7);
}

.form_panel_input{
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: 50px
}





.form_panel_button::placeholder{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
  /* identical to box height */

  letter-spacing: 0.15em;

  color: #000000;

}

.form .form_panel_button:hover{
  background-color:rgba(203, 198, 198, 1);
}

.form .form_panel_button {
  font-family: 'Playfair Display', serif;
  width: 770px;
  height: 137px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: 0.2s all ease-in;
  cursor: pointer;
}



footer {
  width: 100%;
  height: 325px;
  background-color: #252424;
  display: flex;
  justify-content: center;
}

footer .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer_links {
  display: flex;
  flex-direction: row;
  width: 460px;
  justify-content: space-between;
}

.footer_link {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  margin-top: 32px;
  transition: 0.2ms all ease-in-out;
}

.footer_link:hover{
  text-decoration: underline;
  transition: 0.2ms all ease-in-out;
  color:#ffffffb0;
}

.open-button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 999;
  transition: all ease-in 0.5s;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
  transition: all ease-in 0.5s;
  margin-bottom:100px;
}

.chatContainer{
  transition: 0.2s all ease-in;
}

.cs-message__content-wrapper{
  color: #3d3e43;
}